<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <p class="navbar-brand m-0 p-0"><a class="navbar-brand" href="/">BlueLine</a></p>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavId">

            <ul class="navbar-nav  ml-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/u/register">Novo usuário</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/u/login">
                        <span>Entrar<i class="fas fa-sign-in-alt ml-2"></i></span>
                    </a>
                </li>
            </ul>
            <!-- 
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
        </div>
    </div>
</nav>